{% load staticfiles %}
body{
    background-color: #ffffff;
    overflow: hidden;
}
.head{
    color: #ffffff;
    padding-left: 100px;
    padding-top: 3px;
    padding-bottom: 12px;
}
.container{
    background-color: #ffffff;
    border-style: solid;
    border-color: #0C2C52;
}
.phead{
    text-align: center;
    font-size: 18px;
}
#pro{
    font-size: 25px;
    padding:12px;
    color: #0C2C52;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-color: #0C2C52;
    text-align: left;
    padding-left: 100px;
    font-family: 'Cinzel', serif;
}
/* The modal slide show*/
img.hover-shadow {
    display: block;
    border-style: none;
    /*border-color: #0C2C52;*/
    border-width: 3px;
    border-radius: 100%;
    height:160px;
    width:160px;
    transition: 0.3s;
    margin:auto;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.modal-img{
    height:500px;
    width:100%;
}
#modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  opacity: 0.98;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}
.mySlides{
    display: none;
}
/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
#section {
    
    background-size: 100% 100%;
	border-bottom: 2px solid #ffffff;
	height: 690px;
	margin: 0 0 0px;
    border-bottom-style: solid;
    border-bottom-color: #0C2C52;
}
.section2{
    background-color:#0C2C52; 
    height: 690px;
	margin: 0 0 0px;
}
h1{
    color: #e5e5e5;
    font-family: 'Cinzel', serif;
    position: absolute;
    left:0px;
    top:30%;
    background-color:#0C2C52;
    width:100%;
    text-align: center;
    padding: 80px;
    font-size: 70px;
    opacity: 0.7;
}
h3{
    color: #0C2C52;
    background-color: lightblue;
    font-family: 'Cinzel', serif;
}
#p{
    font-size: 18px;
}